.Rproj.user
.Rhistory
.RData
spida
data/ITS2/mergeout/
data/ITS2/OTUs_97/*.biom
data/ITS2/OTUs_97/seqs_*
data/ITS2/OTUs_97/rep_set_*
data/ITS2/OTUs_97/blast_taxonomy_97/
data/ITS2/OTUs_100/*.biom
data/ITS2/OTUs_100/seqs_*
data/ITS2/OTUs_100/rep_set_*
data/ITS2/OTUs_100/blast_taxonomy_100/
data/ITS2/seqs_chimera_filtered.fasta
data/ITS2/usearch61_chimeras/
data/ITS2/combined_seqs.fna
data/temp_light/calib/